body {
	font-family: "Inter", sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
._container {
	max-width: 1300px;
	margin: 0px auto;
}
/* ------------------------HEADER----------------------- */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 42;
}
.header__container {
  display: flex;
  align-items: center;

  min-height: 60px;
}
.header__menu {

}
.menu {
}
.menu__list{
  display: flex;
}
.menu__item {
}
.menu__link {
}
.header__contacts {
}
.contacts {
}
.contacts__tel {
}
.tel__link {
}
.contacts__messegers {
}
.messegers {
}
.messegers__tg {
}
.messegers__wa {
}