:root {
	--light-text: #fafbfd;
	--dark-text: #172d42;
	--primary-color: #56acfc;
	--secondary-color: #fc9862;
	--footer-color: #004f7d;
}
body {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;

	color: var(--dark-text);
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1300px;
	margin: 0px auto;
	padding: 0px 16px;

	box-sizing: content-box;
}

/* ------------------------HEADER----------------------- */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 42;
	transition: all 0.4s ease;

	color: var(--light-text);
	background: linear-gradient(
		180deg,
		rgba(86, 172, 252, 0.92) 19.85%,
		rgba(86, 172, 252, 0.51) 145.16%
	);
}

.header__hidden {
	top: -111px;
}
.header__container {
	display: flex;
	align-items: center;
	min-height: 60px;

	padding-top: 16px;
	padding-bottom: 16px;
}
.header__menu {
	margin: 0px 0px 0px 150px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
.header__menu .menu__list {
	display: flex;
	flex-wrap: wrap;
}
.header__menu .menu__item:not(:last-child) {
	margin: 0px 32px 0px 0px;
}
.header__menu .menu__item {
	line-height: 200%;
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.header__contacts {
  display: flex;
	flex-direction: column;
  
	margin-left: auto;
}
.header-contacts__list{
  margin: 0px 0px 16px 0px;
}
.header-contacts__list li {
	display: inline;
}
.header-contacts__list .tel__link {
	margin: 0px 12px 0px 0px;
}
.header-contacts__list > .messeger-item:not(:last-child) {
	margin: 0px 8px 0px 0px;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;
}
.header-contacts__form-link {
  display: inline-block;
  align-self: flex-end;
  padding: 8px 17px;
	border: solid 1px var(--light-text);
	border-radius: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
}

.tel__link {
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
}

.messegers {
	align-self: flex-end;
}
.messegers__item {
	display: inline-block;
}

/*----------------------MAIN----------------------- */
.page {
	flex: 1 1 auto;
}
.page__main-block {
	margin: 233px 0px 130px 0px;
}

.main-block {
	background: var(--primary-color);
	color: var(--light-text);
}
.main-block__container {
}
.main-block__body {
	max-width: 600px;
}
.main-block__title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 110%;

	margin: 0px 0px 40px 0px;
}
.main-block__text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 120%;

	margin: 0px 0px 80px 0px;
}
.main-block__offer {
}
.offer {
}
.offer__text {
	max-width: 350px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;

	margin: 0px 0px 32px 0px;
}
.main-block__form {
}
.form {
}
.form__input {
	max-width: 350px;
	padding: 18px 0px 18px 60px;
	margin: 0px 0px 24px 0px;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;

	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: 16px;
}

.main-block__form input {
	color: var(--light-text);
	background-color: rgba(248, 251, 255, 0.2);
}
.main-block__form button {
	padding: 23px 42px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.form__button {
	background: var(--secondary-color);
	border-radius: 10px;

	color: var(--light-text);

	cursor: pointer;
}
/* .sale div{
  display: inline-block;
}
.sale p:first-child {
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
} */
.main-block__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1521px;
	z-index: -1;
	border-radius: 0px 0px 20px 20px;
	background-color: var(--primary-color);
}
/* ------------------SERVICES-------------------------- */
.page__services {
	margin: 0px 0px 242px 0px;
}
.section-title {
	margin: 0px 0px 40px 0px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 120%;
}
.services__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__title {
	color: var(--light-text);
	text-align: center;
}
.services__text {
	max-width: 680px;
	text-align: center;
	color: var(--light-text);

	margin: 0px 0px 40px 0px;
}

.services__cards {
	display: flex;
	justify-content: space-between;
	width: 83%;
}

.cards {
}

.item {
}
.item__link {
}
.item__image {
	margin: 0px 0px 16px 0px;
}
.item__name {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: var(--light-text);

	text-align: center;
}
/* -------------------ABOUT US--------------------------- */

.page__about {
	margin: 0px 0px 120px 0px;
}
.about {
}
.about__container {
	display: flex;
	flex-wrap: nowrap;
}
.about__body {
}
.about__text {
	margin: 0px 0px 24px 0px;
}
.mb-40 {
	margin: 0px 0px 40px 0px;
}
.about__title {
	max-width: 610px;
}
.about__advantages {
}
.advantages {
}
.advantages__list {
}
.advantages__item:not(:last-child) {
	margin: 0px 0px 32px 0px;
}
.advantages__text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;

	text-transform: uppercase;

	color: var(--footer-color);
}
.advantages__text::after {
	content: "/";
	margin: 0px 18px;
}
.advantages__desc {
	font-size: 16px;
	line-height: 140%;
}
.about__image {
	margin: 0px 0px 0px 48px;
}

/* ---------------REVIEWS---------------------- */
.page__reviews {
	max-width: 1440px;
	margin: 0 auto;
	border-radius: 20px;
	background-color: var(--primary-color);
	color: var(--light-text);
	background-image: url("../img/reviews/circles.svg");
	background-position: center;
	object-fit: cover;
	margin-bottom: 120px;
}
.reviews {
}
.reviews__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 48px;
}
._container {
}
.reviews__title {
}

.reviews__text {
	max-width: 586px;
	text-align: center;
	margin: 0px 0px 40px 0px;
}
.reviews__cards {
	display: flex;
	margin: 0px 0px 40px;
}
.review-card {
	width: 33.33%;
	min-height: 285px;
	padding: 24px;
	border-radius: 20px;
	background: #ffffff;
	color: var(--dark-text);
}
.review-card:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
.review-card__user {
	margin: 0px 0px 16px 0px;
}
.user {
	display: flex;
	align-items: center;
}
.user__avatar {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;

	margin: 0px 11px 0px 0px;
}
.user__info img {
	vertical-align: baseline;
}
.user__name {
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
}
.user__grade {
	overflow: hidden;
}
.review-card:nth-child(1) .user__grade {
	width: 79px;
}
.review-card:nth-child(2) .user__grade {
	width: 70px;
}
.review__body {
}
.reviews__avito {
}
.avito {
	align-self: flex-end;
}
.avito__text {
	display: inline-block;
	max-width: 360px;
	margin: 0px 50px 0px 0px;
	font-size: 16px;

	position: relative;
}

.avito__text::after {
	content: "";
	position: absolute;
	width: 235px;
	height: 3px;
	background-color: #fff;
	top: 37px;
	left: 180px;
}
.avito__link {
	display: inline-block;
	background: #ffffff;
	border-radius: 8px;
	padding: 14px;
}
.avito__link img {
	margin: 0px 8px 0px 0px;
	vertical-align: bottom;
}
.avito__grade {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 23px;
	line-height: 120%;
	color: #000;
}

/* -------------------MAIN FORM------------------ */

.page__form-section {
	margin: 0px 0px 120px 0px;
}
.form-section {
}
.form-section__container {
	max-width: 1010px;
	position: relative;
}
.form-section__body {
	max-width: 364px;
}
.form-section__title {
}
.section-title {
}
.form-section__text {
	margin: 0px 0px 24px 0px;
}
.form {
}
.form-section__form input {
	background-color: rgba(86, 172, 252, 0.18);
	color: #4489c9;
}
.form-section__form button {
	padding: 15px 44px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}
.form__input {
}
.form__messegers {
	margin: 0px 0px 0px 20px;
}
.form__messegers img {
	vertical-align: middle;
}
.form__button {
}
.form__messegers {
	display: inline-block;
}
.messegers {
}
.messegers__item {
}
.form-section__phone {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
/* -------------------CONTACTS-------------- */
.page__contacts-section {
	max-width: 1440px;
	margin: 0 auto;
	background-color: var(--primary-color);
	color: var(--light-text);
	border-radius: 10px;

	margin-bottom: 120px;
}
.contacts-section {
	position: relative;
}
.contacts-section__container {
	min-height: 525px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.contacts-section__body {
}
.contacts-section__title {
	max-width: 250px;
}
.contacts-list {
}
.contacts-list li {
}
.contacts-list__item {
	padding: 0px 0px 0px 40px;

	font-weight: 600;
	font-size: 20px;
	line-height: 120%;

	background-repeat: no-repeat;
}
.contacts-list__item:not(:last-child) {
	margin: 0px 0px 24px 0px;
}
.contacts-section__map {
	position: absolute;
	top: 0;
	right: 0;

	border-radius: 0px 10px 10px 0px;
}

/* -----------------FOOTER--------------------- */
.footer {
	background-color: var(--footer-color);
	color: var(--light-text);
}
.footer__container {
}

.footer__row {
	display: flex;
	justify-content: space-between;

	margin: 60px 0px 40px 0px;
}
.footer__logo img {
	width: 90px;
}
.logo {
}
.footer__menu li:not(:last-child) {
	margin: 0px 0px 16px 0px;
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}

.footer__contacts {
}
.footer__contacts-group p:first-child {
	font-weight: 600;
	font-size: 20px;
	line-height: 120%;
}
.footer__contacts-group > *:not(:last-child) {
	margin: 0px 0px 16px 0px;
}
.footer__contacts-group {
	margin: 0px 0px 32px 0px;
}

.footer__tel, .footer__email {
  text-align: end;
}
.tel__link {
}
.footer__messegers {
}
.messegers {
}
.messegers__item {
}
.messegers__link {
}

.footer__form-link {
	display: block;
	padding: 15px 44px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	border-radius: 10px;
	background-color: var(--secondary-color);
	color: var(--light-text);
}
